.text-color{
    color: #FFFFFF;
}
.dark-primary{
    background-color: #1976D2;
}

.paragraph{
    font-size: 125%;
}
.console{
	background-color: #253261;
    color: #eeeeee;
    border: none !important;
}